baseURL: "https://callio.pe/"
languageCode: "en-gb"
title: "Calliope"
theme: "calliope"

pygmentsCodeFences: true
pygmentsUseClasses: true
# pygmentsStyle: "friendly"
rssLimit: 10

permalinks:
  pages: /:title
  models: /models/:title
  news: /news/:year/:month/:title

params:
  # Main sections (currently used for the recent posts in the sidebar)
  mainSections: ["news"]

  # Date format (default: Jan 2, 2006)
  # date_format: "Jan 2, 2006"

  # Display post summaries instead of content in list templates (default: true)
  # truncate: false

  sidebar:
    showRecent: true  # Whether to show the recent posts or not (default: true)
    showTaxonomy: false  # Whether to show the taxonomies or not (default: true)
    num_recent_posts: 3  # How many posts to show on the sidebar (Default: 5)

outputs:
    home: ["HTML"]  # Default includes RSS
    section: ["HTML", "RSS"]
    taxonomy: ["HTML", "RSS"]

menu:
  main:
  - identifier: models
    name: Model Gallery
    title: Model Gallery
    url: /model-gallery/
    weight: 30
  - identifier: publications
    name: Publications
    title: Publications
    url: /publications/
    weight: 40
  - identifier: support
    name: Support
    title: Support
    url: /support/
    weight: 50
  - identifier: news
    name: News
    title: News
    url: /news/
    weight: 100
