<footer class="site-footer">
    <section class="container links">
        <ul class="site-footer-list float-left">
                <img src="/images/logo_footer.png" alt="Logo">
                <h3>Calliope</h3>
                <p>A multi-scale energy systems modelling framework<br> (also the <a href="https://en.wikipedia.org/wiki/Calliope">muse of epic poetry in Greek mythology</a>)</p>
        </ul>
        <ul class="site-footer-list float-right">
            <li>Academic Reference:<br><a href="https://doi.org/10.21105/joss.00825">Pfenninger & Pickering (2018)</a></li>
            <li>Website Responsible:<br><a href="https://www.pfenninger.org/">Stefan Pfenninger</a></li>
        </ul>
    </section>
</footer>
