<footer class="site-footer">
    <section class="container links">
        <ul class="site-footer-list float-left">
            <li>
                <img src="/images/logo_footer.png" alt="Logo">
                <h3>Calliope</h3>
                <p>A multi-scale energy systems modelling framework<br> (also the <a href="https://en.wikipedia.org/wiki/Calliope">muse of epic poetry in Greek mythology</a>)</p>
            </li>
        </ul>
        <ul class="site-footer-list float-right">
            <li><a href="https://doi.org/10.21105/joss.00825">Cite Calliope</a></li>
            <li><a href="mailto:s.pfenninger@tudelft.nl@subject=Question about Calliope">Get in touch</a></li>
        </ul>
    </section>
</footer>
